html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
    &::after {
    display: block;
    content: "";
    clear: both;
  }
}

/* хром, сафари */
header::-webkit-scrollbar,
body::-webkit-scrollbar { width: 0; }
 
/* ie 10+ */
header,
body { -ms-overflow-style: none; }
 
input:focus, 
button:focus {
	outline: none;
}

.jq-radio.checked .jq-radio__div {
	background: $green;
    margin: 6px 0 0 6px !important;
    width: 16px !important;
    height: 16px !important;
    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.2) !important;
    position: relative;
    z-index: 1;
}

.jq-radio {
	width: 30px;
	height: 30px;
	position: relative;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3) !important;
	&::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
	    width: 16px  !important;
	    height: 16px  !important;
	    background: #c6c6c6  !important;
	    border-radius: 100%  !important;
	    margin: 6px 0 0 6px  !important;	
	    box-shadow: inset 0px -2px 1px rgba(0, 0, 0, 0.2) !important;	
	}
}

.owl-carousel.owl-drag .owl-item {
	padding: 7px 0 !important;
	background-color: #fff;
}

.translateY200 {
	transform: translateY(-400px);
}
.no-gr {
	&::before {
		filter: grayscale(0) !important;
	}
}

.gr {
	&::before {
		filter: grayscale(100%);
	}
}

.rotate {
	transform: rotateY(360deg);
}

.toggle-header {
	transform: translateX(267px);
	
}
.opacity {
	opacity: 1 !important;
}
