@import 'includes/_var';
@import 'includes/_fonts';
@import 'includes/_reset';

body {
	font-family: OpenSansRegular;
	background-color: $blue;
}

header {
	color: $fontLight;
	width: 260px;
	position: fixed;
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 83px;
		width: 100%;
		background-color: $green;
		z-index: 0;
	}
	.ava {
		height: 80px;
		width: 80px;
		background-position: -39px -26px;
		border-radius: 100%;
		border: 1px solid $fontLight; 
		display: block; 
		margin: 0 auto;
		margin-top: 40px; 
		margin-bottom: 20px;
		z-index: 1;
		position: relative;
	}
	.status {
	    text-align: center;
	    font-size: 17px;
	    background-color: $green;
	    width: 131px;
	    display: block;
	    margin: 0 auto;
	    padding: 5px;
	    border-radius: 23px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    cursor: pointer;
	    transition: .3s;
	    border: 1px solid transparent;
	    &:hover {
	    	background-color: transparent;
	    	transition: .3s;
	    	border: 1px solid $green;
	    	color: $green;
	    }
	}
	.status-title {
		text-align: center;
		font-size: 13px;
		color: $green;
	}
	.name {
		text-align: center;
		font-size: 20px;
		margin-bottom: 10px;
	}
	.nav {
		padding: 0;
		margin: 0;
		li {
			display: block;
			list-style: none;
			border-bottom: 1px solid #4b86a3;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 44px;
			position: relative; 
			cursor: pointer;
			&:before {
				content: '';
				position: absolute;
			    height: 16px;
			    width: 25px;
			    left: 9px;
			    top: 11px;
				background-image: url(../img/sprite-ics.png); 
			}
			&:first-child {
				&::before {
					display: none;
				}
				&::after {
					display: none;
				}
			}
			&:nth-child(2) {
				&::before {
					background-position: 0 0;
				}				
				
			}
			&:nth-child(3) {
				&::before {
				    background-position: 0 -49px;
				    height: 18px;
				    width: 17px;
				    left: 11px;
				}	
			}
			&:nth-child(4) {
				&::before {
				    background-position: 0 -98px;
				    height: 20px;
				    width: 22px;
				    left: 9px;
				}	
			}
			&:last-child {
				&::before {
				    background-position: 0 -145px;
				    height: 20px;
				    width: 22px;
				    left: 11px;
				    top: 8px;
				}	
			}	
			&::after {
			    content: '';
			    position: absolute;
			    height: 7px;
			    width: 14px;
			    right: 27px;
			    top: 16px;
			    background-image: url(../img/arr.png);
			    background-size: 100%;
			    transform: rotate(90deg);
			    transition: .3s;
			}
			span {
				color: $fontLight;
				text-decoration: none;
				position: relative;
				&::after {
					height: 1px;
					width: 0%;
					background-color: $fontLight;
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					transition: .3s;
				}
			}
			&:hover {
				span {
					&::after {
						width: 100%;
						transition: .3s;
					}
				}
			}			
			input {
				&[type="search"] {
					background-color: transparent;
					color: $fontLight;
					border: none;
					transition: .3s;
					width: 75%;
					&:focus {
						outline: none;
					}
					&::placeholder {
						color: $fontLight;
						opacity: 1;
					}
				}
				&[type="submit"] {
					background: none;
					border: none;
					background-image: url(../img/search.png);
					background-size: cover;
					width: 15px;
					height: 15px;
					position: absolute;
					right: 27px;
					top: 14px;
					&:focus {
						outline: none;
					}
				}
			}
			.sub-menu {
				display: none;
				transition: .1s;
			}
			&.opened {
				display: block;
				transition: .1s;
				border-bottom: none;
				&::after {
				    transform: rotate(180deg);
				    transition: .1s;
				}				
				.sub-menu {
					margin-top: 15px;
					display: block;
					li {
						a {
							color: $fontLight;
							text-decoration: none;
						}
						opacity: .9;
						&:first-child {
							&::before {
								display: block;
								visibility: hidden;
							}
						}
						&::before {
						    content: '→';
						    background-image: none;
						    left: -10px;
						    top: 6px;
						    visibility: hidden;
						}
						&:hover {
							opacity: 1;
							&::before {
								visibility: visible;
							}
						}
						&::after {
							display: none;
						}
						padding-left: 10px;
						border-bottom: none;
						padding-top: 5px;
						padding-bottom: 5px;
					}
				}
			}
		}
	}
}

main.content {
	margin-left: 260px;
	background-color: $fontLight;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
	padding: 30px;
}